<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="shortcut icon" href="https://echarts.apache.org/zh/images/favicon.png?_v_=20200710_1">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blazor.ECharts.WebApp.Demo.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="_content/Blazor.ECharts.WordCloud/echarts-wordcloud.min.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=QKXcNR9CGYOaAvlDYlDgVCE5FmNYO3Z8"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/extension/bmap.min.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script type="module" src="_content/Blazor.ECharts/core.js"></script>
</body>

</html>
