@page "/timeline/areatimeaxis"
@using Blazor.ECharts.Options
@using Blazor.ECharts.Options.Enum
@using B = Blazor.ECharts.Options.Series.Bar

<div class="chart-container">
    <ELine Option="@Option1" Class="chart-fill"></ELine>
</div>
