@page "/"
@using System.Reflection;

<h1>目录</h1>
<hr />
<ul>
    @foreach (string route in routes)
    {
        <li>
            <a class="nav-link" href="@route">
                <span class="oi oi-file" aria-hidden="true"></span> @route
            </a>
        </li>
    }
</ul>

@code {
    private List<string> routes;

    protected override void OnInitialized()
    {
        routes = new();
        Assembly info = typeof(Program).Assembly;
        foreach (var type in info.GetTypes())
        {
            routes.AddRange(type.GetCustomAttributes<RouteAttribute>().Select(r => r.Template));
        }

        base.OnInitialized();
    }
}
