@page "/pie/pie2"
@rendermode InteractiveWebAssembly

<PageTitle>饼图程序调用高亮示例|DispatchAction示例</PageTitle>

<div class="chart-container">
    <EPie @ref="ePie" Option="@Option" Class="chart-fill"></EPie>
</div>
