@page "/line/line10"
@using Blazor.ECharts.Options
@using Blazor.ECharts.Options.Enum
@using L = Blazor.ECharts.Options.Series.Line

<div class="container">
    <ELine Option="@Option" Class="chart-fill" @ref="eLine" EventTypes="EventTypes" OnEventCallback="OnEchartsEvent" OnResizeEventCallback="UpdatePosition"></ELine>
</div>